
.registration-form .animated-input{
	position: relative;
}
.registration-form i.error{
    position: absolute;
    width: 100%;
    left: 0;
    top: 0;
    font-size: 10px;
    color: #ec305f;
}
button[disabled], html input[disabled]{
	cursor: text;
	opacity: 0.5;
}
html input[disabled]:hover{
	background-image: -webkit-linear-gradient( 90deg, rgb(218,44,87) 0%, rgb(251,52,102) 100%);
}

.registration-form .therm{
	margin-top: 20px;
}
.registration-form .therm, .registration-form .therm a{
	color: #999999;
	font-size: 12px;
}
.registration-form .therm a:hover label{
	text-decoration: underline;
}
.registration-form .therm .custom-control-input{
	width: 20px;
	height: 20px;
	margin-top: 7px;
	vertical-align: top;
}
.registration-form .therm .custom-control-label{
	margin-left: 8px;
	margin-bottom: 0;
	cursor: pointer;
}
